In [6]:
import pandas as pd

In [7]:
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [ ]:
#1. Determine the number of elements in fruits.
fruit_series.count()
fruits_series.size
fruits_series.shape
len(fruit_series)
#fruit_series.value_counts()

In [ ]:
#2. Output only the index from fruits
fruit_series.index
#fruit_series.index.tolist()

In [ ]:
#3. Output only the values from fruits.
fruit_series.values.tolist()

In [ ]:
#4. Confirm the data type of the values in fruits.
type(fruit_series)

In [ ]:
#5 Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruit_series.head()
#can use number inside to get amount
#can use .tail() to get last
#fruits.sample(2)

In [ ]:
#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruit_series.describe()

In [ ]:
#7 Run the code necessary to produce only the unique string values from fruits.
fruit_series.unique().tolist()

In [4]:
#8 Determine how many times each unique string value occurs in fruits.
#fruit_series.value_counts()

fruit_series.nunique()

NameError: name 'fruit_series' is not defined

In [ ]:
#9 Determine the string value that occurs most frequently in fruits.
fruit_series.value_counts().nlargest(n=1)
#.head(1)
#idmax() - gives the name
#keep='all' is for duplicates

In [ ]:
#10 Determine the string value that occurs least frequently in fruits.
fruit_series.value_counts().nsmallest(n=1,keep='all')
#.tail(11)-because we know from the list there is 11

## Exercise part 2

In [39]:
#1. Capitalize all the string values in fruits.
fruit_series.str.capitalize()
#title
#upper

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [8]:
#2. Count the letter "a" in all the string values (use string vectorization).
fruit_series.apply(lambda row: row.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [37]:
#3. Output the number of vowels in each and every string value

def count_vowels(string):
    vowels = ['a' 'e', 'i', 'o', 'u']
    count = 0
    for let in string:
        if let in vowels:
            count +=1
    return count

fruit_series.apply(count_vowels)

#fruits.str.count('[aeiou]')

0     2
1     1
2     0
3     1
4     0
5     2
6     2
7     1
8     1
9     2
10    2
11    2
12    1
13    1
14    0
15    2
16    0
dtype: int64

In [36]:
def count_vowels(fruit):
    return len([let for let in fruit.lower() if let in vowels])
count_vowels('fruit')

#print(data[data.apply(len) >= 5])

2

In [30]:
#4. Write the code to get the longest string value from fruits.
longest_string = max(fruit_series, key=len)
print(longest_string)
#fruit_series.max()
#max(fruits, key=len)

honeycrisp apple

In [ ]:
#5.Write the code to get the string values with 5 or more letters in the name.
#print(data[data.apply(len) >= 5])

In [33]:
#6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.
fruit_series.apply(lambda row: row.count('o'))

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

In [ ]:
#7. Write the code to get only the string values containing the substring "berry".

In [ ]:
#8. Write the code to get only the string values containing the substring "apple".
#mask = fruits.apply(lambda row: 'berry' in row)
#fruits[mask]

#print(data[data.str.contains("apple")])
#data = fruits_series

In [ ]:
#9. Which string value contains the most vowels?
#fruits[fruits.apply(vowel_counter) == fruits.apply(vowel_counter).max()]

In [63]:
## Exercise 3
#Use pandas to create a Series named letters from the following string:

letters =list('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')

letter_series =pd.Series(letters)

letter_series.head()

0    h
1    n
2    v
3    i
4    d
dtype: object

In [74]:
#1.Which letter occurs the most frequently in the letters Series?
letter_series.value_counts()

y    13
p    12
w    10
k     9
m     9
n     9
b     9
o     8
h     8
q     8
r     8
c     8
x     8
a     8
d     8
v     7
z     7
u     7
t     7
f     6
e     6
j     6
i     5
g     5
s     5
l     4
dtype: int64

In [72]:
#1.Which letter occurs the most frequently in the letters Series?
#letter_series.max()- gets the highest lettter so "z"
letter_series.value_counts().nlargest(n=1, keep='all')

y    13
dtype: int64

In [73]:
#2.Which letter occurs the Least frequently?
letter_series.value_counts().nsmallest(n=1, keep='all')

l    4
dtype: int64

In [112]:
#3.How many vowels are in the Series?
letter_series.str.lower().str.count('[aeiou]').sum()

34.0

In [114]:
#4.How many consonants are in the Series?
letter_series.str.lower().str.count('[^aeiou]').sum()

con =(letter_series.str.lower().count()-letter_series.str.lower().str.count('[aeiou]').sum())
con

166.0

In [98]:
#5.Create a Series that has all of the same letters but uppercased.
upper_case = letter_series.str.upper()
upper_case

0           H
1           N
2           V
3           I
4           D
         ...
196         O
197         G
198         U
199         Y
Vowels    NaN
Length: 201, dtype: object

In [ ]:
#6.Create a bar plot of the frequencies of the 6 most commonly occuring letters.
letters.value_counts().head(7).plot

In [ ]:
#7.

In [ ]:
#8.

In [ ]:
#9.